<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Details Page</title>
</head>
<body>
    <div class="container col-12">
        <!-- Navbar -->
        <div class="navbar bg-dark text-light justify-content-between p-3">
            <div>
                <a href="/" class="btn back_to_home btn-primary">Home</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <!-- End of Navbar -->
        <div class="detail-box">
            <h4>Ready for your trip to the Destination?</h4>
            <div>
                <p>Who's driving?</p>
                <p>Name</p>
            </div>
            <div>
                <p>Who's coming along?</p>
                <p>Name</p>
            </div>
            <div>
                <p>Date</p>
                <p>Date Info</p>
            </div>
            <div>
                <p>Pick up Location:</p>
                <p>Location</p>
            </div>
            <div>
                <p>Details:</p>
                <p>Actual details.</p>
            </div>
            <a href="/rides/edit/">Edit</a>
            <a href="/rides/delete/">Delete</a>
        </div>
    </div>
</body>
</html>